.catalog {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;

    width: 100%;

    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-left: -80px;

    align-items: stretch;

    justify-content: center;
  }
}

.catalog__item {
  display: flex; /* Firefox 58.0.2 doesn't feel happy with "block + margin-bottom" for some reason... (ignores margin-bottom) */
  flex-direction: column;

  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;

    align-items: stretch;

    flex-grow: 0;
    flex-basis: auto;
  }
}

.catalog__item:first-of-type {
  @media (min-width: $tablet-width) {
    width: 100%;

    flex-basis: 100%;
  }

  @media (min-width: $desktop-width) {
    width: auto;

    flex-grow: 0;
    flex-basis: auto;
  }
}
