$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-bg-card-default: #1698d9;
$color-bg-card-default-hover: #2ea8e6;

$color-bg-card-selected: #d91667;
$color-bg-card-selected-hover: #e62e7a;

$color-bg-card-disabled: #b3b3b3;

$color-bg-card-content: #f2f2f2;

$color-text-page: #ffffff;
$color-text-card: #666666;
$color-text-card-title: #000000;
$color-text-deselect: #e62e7a;
$color-text-link: #1698d9;
$color-text-link-decoration:#1e93d5;
$color-text-warning: #ffff66;